altgraph==0.10.2
app==0.0.1
appdirs==1.4.0
appnope==0.1.0
attrs==16.0.0
autobahn==0.12.1
awscli==1.11.36
babelfish==0.5.5
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
bonjour-py==0.3
boto==2.25.0
boto3==1.3.1
botocore==1.4.93
cbor==0.1.24
certifi==2016.2.28
cffi==1.7.0
characteristic==14.3.0
chardet==2.2.1
Cheetah==2.4.4
click==6.6
colorama==0.3.7
configobj==4.7.2
constantly==15.1.0
contextlib2==0.5.4
cryptography==1.4
cssselect==0.9.2
cycler==0.10.0
dask==0.13.0
dateutils==0.6.6
decorator==3.4.0
Django==1.10.5
django-filter==1.0.1
django-markdown==0.8.4
django-mongodb-engine==0.6.0
djangorestframework==3.5.4
djangotoolbox==1.8.0
docutils==0.12
ecdsa==0.13
enum34==1.1.6
Fabric3==1.12.post1
Flask==0.11.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.5
geopy==1.11.0
gevent==1.1.2
graphviz==0.5.1
greenlet==0.4.10
guessit==2.1.1
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
haxor-news==0.4.1
http==0.2
idna==2.1
imutils==0.3.10
incremental==16.10.1
iniparse==0.4
ipaddress==1.0.16
IPy==0.75
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonpatch==1.2
jsonpointer==1.9
kafka-python==1.2.5
kazoo==2.2.1
kitchen==1.1.1
lmdb==0.88
lxml==3.6.1
macholib==1.5.1
Markdown==2.4.1
MarkupSafe==0.23
matplotlib==2.0.0
mock==2.0.0
modulegraph==0.10.4
msgpack-python==0.4.8
MySQL-python==1.2.3
netaddr==0.7.18
networkx==1.11
numpy==1.12.0
olefile==0.44
opencv-python==3.2.0.6
packaging==16.8
pandas==0.19.2
paramiko==1.17.2
parsel==1.0.2
pathlib2==2.2.1
pbr==1.10.0
perf==0.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
ply==3.9
prettytable==0.7.2
prompt-toolkit==1.0.13
protobuf==3.2.0
ptyprocess==0.5.1
py2app==0.7.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.0
PyDispatcher==2.0.5
pygeocoder==1.2.5
Pygments==1.4
pymongo==3.4.0
PyMySQL==0.7.9
PyNaCl==1.0.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==16.0.0
pyparsing==2.1.10
pytesseract==0.1.6
python-dateutil==2.6.0
python-Levenshtein==0.12.0
PyTrie==0.2
pytz==2016.10
PyYAML==3.12
queuelib==1.4.2
rebulk==0.8.2
requests==2.12.4
rsa==3.4.2
s3transfer==0.1.10
scandir==1.4
scikit-image==0.12.3
scipy==0.13.0b1
Scrapy==1.3.0
scrapy-crawlera==1.2.1
scrapy-jsonrpc==0.3.0
service-identity==16.0.0
setproctitle==1.1.9
shutilwhich==1.1.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.3
stevedore==1.19.1
subprocess32==3.2.7
tensorflow==0.12.1
tesseract==0.1.3
toolz==0.8.2
traitlets==4.3.1
treq==15.1.0
tvdb-api==1.10
Twisted==16.6.0
txaio==2.2.2
ujson==1.35
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
w3lib==1.16.0
wcwidth==0.1.7
Werkzeug==0.11.10
wsaccel==0.6.2
xattr==0.6.4
zope.interface==4.3.3
